/* Defaults
---------------------------------------------------------------------------- */

html {
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a,
button,
input:focus,
input[type="button"],
input[type="submit"],
textarea:focus,
.wp-block-button__link {
    transition: all 0.2s ease-in-out;
}

a,
a:focus,
a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

ol,
ul {
    margin: 0;
    padding: 0;
}

b,
strong {
    font-weight: var(--wp--custom--font-weight--medium);
}

blockquote {
    margin: 0;
}

/*
 * Alignment Styles - Originally from TT2.
 * These rules are temporary, and should not
 * be relied on or modified too heavily by
 * themes or plugins that build on WP Coop Theme.
 * These are meant to be a precursor to a
 * global solution provided by the Block Editor.
 *
 * Relevant issues:
 * https://github.com/WordPress/gutenberg/issues/35607
 * https://github.com/WordPress/gutenberg/issues/35884
---------------------------------------------*/

body > .is-root-container,
.edit-post-visual-editor__post-title-wrapper,
.wp-block-cover.alignfull,
.wp-block-group.alignfull,
.wp-block-group.has-background,
.wp-site-blocks {
    padding-left: var(--wp--custom--spacing--sl);
    padding-right: var(--wp--custom--spacing--sl);
}

.block-editor-block-list__layout.is-root-container > .alignfull,
.is-root-container > .wp-block-cover,
.is-root-container > .wp-block-group.has-background,
.is-root-container > .wp-block-template-part > .wp-block-cover,
.is-root-container > .wp-block-template-part > .wp-block-group.has-background,
.wp-site-blocks .alignfull,
.wp-site-blocks > .wp-block-cover,
.wp-site-blocks > .wp-block-group.has-background,
.wp-site-blocks > .wp-block-template-part > .wp-block-cover,
.wp-site-blocks > .wp-block-template-part > .wp-block-group.has-background {
    margin-left: calc(-1 * var(--wp--custom--spacing--sl)) !important;
    margin-right: calc(-1 * var(--wp--custom--spacing--sl)) !important;
    width: unset;
}

/* Blocks
---------------------------------------------------------------------------- */

/* Button
--------------------------------------------- */

input[type="button"],
input[type="submit"],
.wp-block-post-comments input[type=submit],
.wp-block-search__button {
    border: 1px solid var(--wp--preset--color--main);
    border-radius: 0;
    background-color: var(--wp--preset--color--main);
    color: var(--wp--preset--color--base);
    cursor: pointer;
    font-size: var(--wp--preset--font-size--x-small);
    font-weight: var(--wp--custom--font-weight--medium);
    padding: var(--wp--custom--spacing--sxxs) var(--wp--custom--spacing--sm);
    text-decoration: none;
    white-space: normal;
    width: auto;
}

input[type="button"]:focus,
input[type="button"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover,
.wp-block-button__link:focus,
.wp-block-button__link:hover,
.wp-block-search__button:focus,
.wp-block-search__button:hover {
    background-color: var(--wp--preset--color--main);
    border: 1px solid var(--wp--preset--color--main);
    color: var(--wp--preset--color--typography);
    text-decoration: none;
}

.wp-block-button__link.has-background:focus,
.wp-block-button__link.has-background:hover {
    color: var(--wp--preset--color--base);
    filter: brightness(110%);
}

.wp-block-button__link.has-black-color.has-background:focus,
.wp-block-button__link.has-black-color.has-background:hover {
    color: var(--wp--preset--color--typography);
}

/* Button - Fill Base
--------------------------------------------- */

.wp-block-button.is-style-fill-base .wp-block-button__link {
    background-color: var(--wp--preset--color--base);
    border: 1px solid var(--wp--preset--color--base);
    color: var(--wp--preset--color--typography);
}

.wp-block-button.is-style-fill-base .wp-block-button__link:focus,
.wp-block-button.is-style-fill-base .wp-block-button__link:hover {
    background-color: var(--wp--preset--color--main-contrast);
    border: 1px solid var(--wp--preset--color--main-contrast);
    color: var(--wp--preset--color--main);
}

/* Button - Outline
--------------------------------------------- */

.wp-block-button.is-style-outline .wp-block-button__link {
    background-color: transparent;
    border: 1px solid;
    border-color: var(--wp--preset--color--main);
    color: var(--wp--preset--color--typography);
    padding: var(--wp--custom--spacing--sxxs) var(--wp--custom--spacing--sm);
}

.wp-block-button.is-style-outline .wp-block-button__link:focus,
.wp-block-button.is-style-outline .wp-block-button__link:hover {
    background-color: var(--wp--preset--color--main);
    border-color: var(--wp--preset--color--main);
    color: var(--wp--preset--color--main-contrast);
}

/* Button - Outline Base
--------------------------------------------- */

.wp-block-button.is-style-outline-main-contrast .wp-block-button__link {
    background-color: transparent;
    border: 1px solid;
    border-color: var(--wp--preset--color--main-contrast);
    color: var(--wp--preset--color--main-contrast);
}

.wp-block-button.is-style-outline-main-contrast .wp-block-button__link:focus,
.wp-block-button.is-style-outline-main-contrast .wp-block-button__link:hover {
    background-color: var(--wp--preset--color--base);
    border-color: var(--wp--preset--color--main);
    color: var(--wp--preset--color--typography);
}

/* Calendar
--------------------------------------------- */

.wp-block-calendar table caption,
.wp-block-calendar table tbody {
    color: var(--wp--preset--color--typography);
}

.wp-block-calendar table th {
    background-color: var(--wp--preset--color--main);
    color: var(--wp--preset--color--base);
}

.wp-block-calendar tbody td,
.wp-block-calendar th {
    border: 1px solid var(--wp--preset--color--main);
    padding: var(--wp--custom--spacing--sxxs);
}

/* Caption
--------------------------------------------- */

.wp-block-embed figcaption,
.wp-block-gallery figcaption,
.wp-block-image figcaption,
.wp-block-table figcaption {
    color: var(--wp--preset--color--typography);
    font-size: var(--wp--preset--font-size--x-small);
    margin-bottom: 0;
    margin-top: var(--wp--custom--spacing--sxxs);
    text-align: center;
}

.wp-block-gallery figcaption {
    margin-top: 0;
}

/* Code
--------------------------------------------- */

.wp-block-code,
.wp-block-code code {
    border: none;
}

.wp-block-code {
    padding: 0;
}

.wp-block-code code {
    overflow-wrap: normal;
    overflow-x: scroll;
    white-space: pre;
}

*:not(.wp-block-code) > code,
kbd {
    background-color: var(--wp--preset--color--main);
    color: var(--wp--preset--color--base);
    font-size: var(--wp--preset--font-size--x-small);
    padding: 5px 8px;
    position: relative;
    top: -1px;
}

/*
 * When inline code is selected, the Editor applies contextual styling. Since
 * our code color is near white, we need to reset to the default text color.
 */
.rich-text:focus > code[data-rich-text-format-boundary],
.rich-text:focus > kbd[data-rich-text-format-boundary] {
    color: currentColor;
}

/* Comments
--------------------------------------------- */

.wp-block-post-comments input:not([type=submit]),
.wp-block-post-comments textarea {
    border-color: var(--wp--preset--color--main);
}

.wp-block-post-comments .commentlist {
    margin-bottom: var(--wp--custom--spacing--sxl);
    margin-top: var(--wp--custom--spacing--sxl);
}

.wp-block-post-comments .commentlist .comment p {
    line-height: var(--wp--custom--line-height--body);
}

.wp-block-post-comments .form-submit {
    margin-bottom: 0;
}

.wp-block-post-comments .comment-form-cookies-consent {
    font-size: var(--wp--preset--font-size--x-small);
}

/* Comment Author Avatar
--------------------------------------------- */

.wp-block-post-comments .comment-author .avatar {
    height: 48px;
    margin-top: var(--wp--custom--spacing--sminimal);
    width: 48px;
}

/* Image
--------------------------------------------- */

.wp-block-image.aligncenter {
    margin-left: auto !important;
    margin-right: auto !important;
}

.wp-block-image.alignleft {
    margin-right: var(--wp--custom--spacing--sl) !important;
}

.wp-block-image.alignright {
    margin-left: var(--wp--custom--spacing--sl) !important;
}

/* List
--------------------------------------------- */

ol li:where(:not([class*='block'])),
ol li:where(.wp-block-list),
ul li:where(:not([class*='block'])),
ul li:where(.wp-block-list) {
    margin-left: var(--wp--custom--spacing--sl);
}

/* Navigation
--------------------------------------------- */

.wp-block-navigation__responsive-container.is-menu-open {
    padding: var(--wp--custom--spacing--sl);
}

.wp-block-navigation__responsive-container-close,
.wp-block-navigation__responsive-container-open {
    border: 1px solid var(--wp--preset--color--main);
    padding: var(--wp--custom--spacing--sminimal);
}

.has-background .wp-block-navigation__responsive-container-open {
    border: 1px solid var(--wp--preset--color--base);
}

.has-background .wp-block-navigation__responsive-container-open:focus,
.has-background .wp-block-navigation__responsive-container-open:hover {
    color: var(--wp--preset--color--base);
}

.wp-block-navigation:not([style*=text-decoration]) a,
.wp-block-navigation:not([style*=text-decoration]) a:focus,
.wp-block-navigation:not([style*=text-decoration]) a:hover {
    text-decoration: none;
}

/* Navigation Submenu
--------------------------------------------- */

.wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container {
    background-color: var(--wp--preset--color--main);
    border: var(--wp--preset--color--main);
    color: var(--wp--preset--color--base);
    padding: var(--wp--custom--spacing--sxxs);
}

.wp-block-navigation :where(.wp-block-navigation__submenu-container) a {
    padding: var(--wp--custom--spacing--sminimal) var(--wp--custom--spacing--sxxs);
}

/* Paragraph
--------------------------------------------- */

p.has-background {
    padding: var(--wp--custom--spacing--sxs) var(--wp--custom--spacing--sl);
}

/* Preformatted
--------------------------------------------- */

.wp-block-preformatted {
    overflow-wrap: normal;
    overflow-x: scroll;
    white-space: pre;
}

/* Pullquote
--------------------------------------------- */

.wp-block-pullquote p,
.wp-block-pullquote.alignleft p,
.wp-block-pullquote.alignright p {
    font-size: var(--wp--preset--font-size--large);
    line-height: var(--wp--custom--line-height--medium);
    margin-bottom: 0;
}

.wp-block-pullquote cite {
    display: block;
    font-size: var(--wp--preset--font-size--x-small);
    font-style: inherit;
    margin-top: var(--wp--custom--spacing--sxxs);
    text-transform: inherit;
}

/* Quote
--------------------------------------------- */

.wp-block-quote {
    box-shadow: 5px 5px var(--wp--preset--color--main);
}

.wp-block-quote p:last-of-type {
    margin-bottom: 0;
}

.wp-block-quote cite {
    display: block;
    font-size: var(--wp--preset--font-size--x-small);
    font-style: inherit;
    margin-top: var(--wp--custom--spacing--sxxs);
    text-align: inherit;
}

/* Separator
--------------------------------------------- */

.wp-block-separator,
.wp-block-separator.has-css-opacity {
    opacity: 1;
}

.wp-block-separator:not(.is-style-dots),
.wp-block-separator.has-background:not(.is-style-dots) {
    border-bottom: 1px solid currentColor;
    height: 1px;
}

.wp-block-separator.is-style-dots:before {
    font-family: inherit;
    font-size: var(--wp--preset--font-size--large);
    letter-spacing: var(--wp--custom--spacing--sxxs);
    padding-left: var(--wp--custom--spacing--sxxs);
}

/* Site Title
--------------------------------------------- */

.wp-block-site-title a {
    text-decoration: none;
}

/* Table
--------------------------------------------- */

.wp-block-table.is-style-stripes {
    border-bottom: none;
}

.wp-block-table table {
    border-collapse: collapse;
}

.wp-block-table thead {
    border-bottom: 3px solid var(--wp--preset--color--main);
}

.wp-block-table tfoot {
    border-top: 3px solid var(--wp--preset--color--main);
}

.wp-block-table td,
.wp-block-table th,
.wp-block-table tr,
.wp-block-table.is-style-stripes td,
.wp-block-table.is-style-stripes th,
.wp-block-table.is-style-stripes tr {
    border: 1px solid var(--wp--preset--color--main);
}

.wp-block-table th {
    font-weight: var(--wp--custom--font-weight--medium);
}

.wp-block-table td,
.wp-block-table th {
    padding: var(--wp--custom--spacing--sminimal);
}

.wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
    background-color: #eee;
}

/* Term Description
--------------------------------------------- */

.wp-block-term-description {
    margin-bottom: var(--wp--custom--spacing--sxl) !important;
}

/* Custom
---------------------------------------------------------------------------- */

/* Forms
--------------------------------------------- */

input,
select,
textarea,
.wp-block-search__input {
    background-color: var(--wp--preset--color--base);
    border: 1px solid var(--wp--preset--color--main);
    border-radius: 0;
    color: var(--wp--preset--color--typography);
    font-family: var(--wp--preset--font-family--primary);
    font-size: var(--wp--preset--font-size--medium);
    font-weight: var(--wp--custom--font-weight--regular);
    line-height: var(--wp--custom--line-height--body);
    padding: var(--wp--custom--spacing--sxxs) var(--wp--custom--spacing--sxs);
    width: 100%;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
    width: auto;
}

input[type="button"],
input[type="email"],
input[type="search"],
input[type="submit"],
input[type="text"],
textarea {
    -webkit-appearance: none;
}

::placeholder {
    color: var(--wp--preset--color--typography);
    font-size: var(--wp--preset--font-size--x-small);
    opacity: 0.6;
}

.nf-field-container {
    margin-bottom: var(--wp--custom--spacing--sxxs);
}

/* Styles
--------------------------------------------- */

.is-style-boxshadow,
.is-style-boxshadow-media img {
    box-shadow: 0 0 50px rgb(0 0 0 / 10%);
}

.is-style-boxshadow-solid {
    box-shadow: 5px 5px var(--wp--preset--color--main);
}

.is-style-full-height {
    align-items: center;
    display: grid;
    min-height: 100vh;
}

.is-style-no-disc li {
    list-style-type: none;
    margin-left: 0;
}

/* Experimental Styles
--------------------------------------------- */

/*
 * Remove bottom margin when blocks are placed in container blocks that do not
 * support blockGap (i.e. Column, Cover, Media & Text)
 */
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
.wp-block-image:last-child {
    margin-bottom: 0;
}

.is-root-container h1 + *,
.is-root-container h2 + *,
.is-root-container h3 + *,
.is-root-container h4 + *,
.is-root-container h5 + *,
.is-root-container h6 + *,
.wp-block-post-content h1 + *,
.wp-block-post-content h2 + *,
.wp-block-post-content h3 + *,
.wp-block-post-content h4 + *,
.wp-block-post-content h5 + *,
.wp-block-post-content h6 + *,
.wp-block-query-title + * {
    margin-top: var(--wp--custom--spacing--sxxs) !important;
}

.wp-block-spacer + * {
    margin-top: 0 !important;
}

/* Media Queries
---------------------------------------------------------------------------- */

@media only screen and (min-width: 800px) {

    /* Navigation
    --------------------------------------------- */

    .wp-block-navigation-item.is-style-fill a,
    .wp-block-navigation-item.is-style-fill-base a,
    .wp-block-navigation-item.is-style-outline a,
    .wp-block-navigation-item.is-style-outline-main-contrast a {
        padding: var(--wp--custom--spacing--sminimal) var(--wp--custom--spacing--sxs);
    }

    .wp-block-navigation-item.is-style-fill a,
    .wp-block-navigation-item.is-style-outline a:focus,
    .wp-block-navigation-item.is-style-outline a:hover {
        background-color: var(--wp--preset--color--main);
    }

    .wp-block-navigation-item.is-style-fill-base a,
    .wp-block-navigation-item.is-style-outline-main-contrast a:focus,
    .wp-block-navigation-item.is-style-outline-main-contrast a:hover {
        background-color: var(--wp--preset--color--base);
    }

    .wp-block-navigation-item.is-style-fill a,
    .wp-block-navigation-item.is-style-outline a {
        border: 1px solid var(--wp--preset--color--main);
    }

    .wp-block-navigation-item.is-style-fill-base a,
    .wp-block-navigation-item.is-style-outline-main-contrast a {
        border: 1px solid var(--wp--preset--color--main-contrast);
    }

    .wp-block-navigation-item.is-style-fill a:focus,
    .wp-block-navigation-item.is-style-fill a:hover,
    .wp-block-navigation-item.is-style-fill-base a,
    .wp-block-navigation-item.is-style-outline a {
        color: var(--wp--preset--color--typography);
    }
    .wp-block-navigation-item.is-style-outline-main-contrast a:focus,
    .wp-block-navigation-item.is-style-outline-main-contrast a:hover {
        color: var(--wp--preset--color--main-contrast);
    }

    .wp-block-navigation-item.is-style-fill a,
    .wp-block-navigation-item.is-style-fill-base a:focus,
    .wp-block-navigation-item.is-style-fill-base a:hover,
    .wp-block-navigation-item.is-style-outline a:focus,
    .wp-block-navigation-item.is-style-outline a:hover{
        color: var(--wp--preset--color--base);
    }
    .wp-block-navigation-item.is-style-outline-main-contrast a {
        color: var(--wp--preset--color--main-contrast);
    }

    .wp-block-navigation-item.is-style-fill a:focus,
    .wp-block-navigation-item.is-style-fill a:hover,
    .wp-block-navigation-item.is-style-fill-base a:focus,
    .wp-block-navigation-item.is-style-fill-base a:hover,
    .wp-block-navigation-item.is-style-outline a,
    .wp-block-navigation-item.is-style-outline-main-contrast a {
        background-color: transparent;
    }

    /* Pullquote
    --------------------------------------------- */

    .wp-block-pullquote.alignleft,
    .wp-block-pullquote.alignright {
        max-width: 300px;
    }

    .wp-block-pullquote.alignleft {
        float: left;
        margin-right: var(--wp--custom--spacing--sl) !important;
    }

    .wp-block-pullquote.alignright {
        float: right;
        margin-left: var(--wp--custom--spacing--sl) !important;
    }

}