<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"var(--wp--custom--spacing--sxxl)","bottom":"var(--wp--custom--spacing--sxxl)"}}},"className":"site-content"} -->
<main class="site-content wp-block-group" style="margin-top:0;padding-top:var(--wp--custom--spacing--sxxl);padding-bottom:var(--wp--custom--spacing--sxxl)">
    <!-- wp:group {"layout":{"inherit":true}} -->
    <div class="wp-block-group">
        <!-- wp:pattern {"slug":"wpct/hidden-404"} /-->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
