<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group">
    <!-- wp:search {
        "label":"Search",
        "showLabel":false,
        "width":100,
        "widthUnit":"%",
        "buttonText":"Search",
        "buttonUseIcon":true,
        "layout":{"inherit":true}
    } /-->
</div>
<!-- /wp:group -->

    <!-- wp:query {
        "query":{
            "perPage":10,
            "pages":0,
            "offset":0,
            "postType":"post",
            "categoryIds":[],
            "tagIds":[],
            "order":"desc",
            "orderBy":"date",
            "author":"",
            "search":"",
            "exclude":[],
            "sticky":"",
            "inherit":true
        },
        "tagName":"main"
    } -->
    <main class="wp-block-query">
        <!-- wp:post-template -->
            <!-- wp:post-title {"isLink":true,"layout":{"inherit":true}} /-->
            <!-- wp:post-featured-image {"isLink":true,"layout":{"inherit":true}} /-->
            <!-- wp:columns {"layout":{"inherit":true}} -->
            <div class="wp-block-columns">
                <!-- wp:column {"width":"650px","layout":{"inherit":true}} -->
                    <div class="wp-block-column" style="flex-basis:650px">
                    <!-- wp:post-excerpt /-->
                    <!-- wp:post-date {
                        "format":"F j, Y",
                        "isLink":true,
                        "layout":{"inherit":true}
                    } /-->
                    </div>
                <!-- /wp:column -->

                <!-- wp:column {"width":"","layout":{"inherit":true}} -->
                <div class="wp-block-column"></div>
                <!-- /wp:column -->
            </div>
            <!-- /wp:columns -->

        <!-- /wp:post-template -->

        <!-- wp:query-pagination {"paginationArrow":"arrow","layout":{"inherit":true}} -->
            <!-- wp:query-pagination-previous {"layout":{"inherit":true}} /-->
            <!-- wp:query-pagination-numbers {"layout":{"inherit":true}} /-->
            <!-- wp:query-pagination-next {"layout":{"inherit":true}} /-->
        <!-- /wp:query-pagination -->
    </main>
    <!-- /wp:query -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
